<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mouad.kanjiapp"
    android:installLocation="preferExternal"
    android:versionCode="2"
    android:versionName="1.2">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/kanjiapplogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/kanjiapplogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondScreen" />
        <activity android:name=".ThirdActivity" />
        <activity
            android:name=".Learning_Kanji"
            android:label="@string/title_activity_learning__kanji"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Learn_Kanji" />
        <activity android:name=".Lesson_Kanji" />
        <activity android:name=".Admin" />
        <activity android:name=".Before_SecondScreen" />
        <activity android:name=".Login" />
        <activity
            android:name=".Navigation_Drawer"
            android:label="@string/title_activity_navigation__drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Admin_Hub" />
        <activity android:name=".Admin_Hiragana" />
        <activity android:name=".Admin_Katakana" />
        <activity android:name=".Kanji_HUB" />
        <activity android:name=".Hiragana_HUB" />
        <activity android:name=".Hiragana_beforeT" />
        <activity android:name=".Hiragana_Test" />
        <activity android:name=".Hiragana_Results" />
        <activity android:name=".Katakana_HUB" />
        <activity android:name=".Katakana_beforeT" />
        <activity android:name=".Katakana_Test" />
        <activity android:name=".Katakana_Results" />
        <activity android:name=".Hiragana_Lesson" />
        <activity android:name=".Hiragana_Learn" />
        <activity android:name=".Katakana_Learn" />
        <activity android:name=".Katakana_Lesson" />
        <activity
            android:name=".LoginUserActivity"
            android:label="@string/title_activity_login_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignInUserActivity"
            android:label="@string/title_activity_sign_in"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Historic_Activity" />
        <activity android:name=".UserFavoriteKanjiActivity"></activity>
    </application>

</manifest>